# Dependencies
node_modules/

# Misc
.DS_Store

# Editor directories and files
.idea/
.vscode/

# Logs
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Sass
.sass-cache/
*.css.map

# Your specific project folder (if you want to ignore it)
DawnClarkStories/
